.card{
  border: 2px solid black;
  display: grid;
  justify-content: center;
  max-width: 250px;
  height: 400px;
  margin-left: 10%;
  border-radius: 1rem;
  background-color: #232323;
  grid-template-rows: repeat(6, 1fr);
  color: white;

  .card-title{
    justify-self: center;
    h3{
      margin-bottom: 0;
      padding: 0;
    }
  }

  .card-body{
    border: 1px solid black;
    border-radius: 1rem;
    background-color: #616161;
    grid-row: 2/6;
    margin: 0rem 1rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
      object-fit: cover;
      border-radius: 1rem;
    }
  }

  .card-status{
    display: flex;
    justify-content: center;
    align-items: center;

    span{
      border: 1px solid white;
      background-color: red;
      border-radius: 0.2rem;
      margin: 0 0.2rem;
      padding: 0.2rem;
      overflow: hidden;
    }
  }
}

input{
  margin-left:10%;
}

.mensagem {
  color: red;
  font-size: 16px;
  margin-left: 1rem;
}
